# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=your_bot_token
ADMIN_IDS=your_admin_IDs
MASTER_USER_ID=your_master_telegram_user_ID

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# PgAdmin
PGADMIN_DEFAULT_EMAIL=sample@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
PGADMIN_PORT=5050

# Redis
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password

# Proxy - to enable the proxy, uncomment the following 5 lines and fill in your credentials.
#PROXY_TYPE=http
#PROXY_LOGIN=sample_proxy_login
#PROXY_PASSWORD=sample_proxy_password
#PROXY_IP=sample_proxy_ip
#PROXY_PORT=sample_proxy_port